---
const bottomLinks = [
  // {
  //   header: 'Social',
  //   links: [
  //     {
  //       name: 'Github',
  //       href: 'https://github.com/',
  //       isExternal: true,
  //     },
  //     {
  //       name: 'Twitter',
  //       href: 'https://twitter.com/',
  //       isExternal: true,
  //     },
  //     {
  //       name: 'Instagram',
  //       href: 'https://instagram.com/',
  //       isExternal: true,
  //     },
  //     {
  //       name: 'Facebook',
  //       href: 'https://facebook.com/',
  //       isExternal: true,
  //     },
  //   ],
  // },
  {
    header: 'Lunch Creek Web Designs',
    links: [
      {
        isExternal: false,
        name: 'Services',
        href: '/#services',
      },
      {
        isExternal: false,
        name: 'Expertise',
        href: '/#expertise',
      },
      {
        isExternal: false,
        name: 'About',
        href: '/#about',
      },
      {
        isExternal: false,
        name: 'Contact',
        href: '/contact',
      },
    ],
  },
  // {
  //   header: 'Legal',
  //   links: [
  //     {
  //       name: 'Privacy',
  //       href: '/privacy',
  //       isExternal: false,
  //     },
  //     {
  //       name: '404',
  //       href: '/404',
  //       isExternal: false,
  //     },
  //     {
  //       name: 'Styleguide',
  //       href: '/styleguide',
  //       isExternal: false,
  //     },
  //   ],
  // },
];
---

<footer
  class="mt-16 bg-primary-500/10 py-16 dark:bg-primary-400/10 lg:mt-20 lg:py-20"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col justify-between gap-12 sm:gap-16 lg:flex-row">
      <div class="flex max-w-sm flex-col items-start gap-6 sm:gap-8">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="100"
          height="100"
          viewBox="0 0 3400.000000 2215.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,2215.000000) scale(0.100000,-0.100000)"
            fill="currentColor"
            stroke="none"
          >
            <path
              d="M3901 20139 c-342 -36 -719 -187 -1025 -410 -120 -88 -348 -311 -435
   -427 -429 -570 -555 -1311 -335 -1982 80 -243 226 -511 386 -708 298 -366 728
   -630 1203 -737 161 -36 149 -43 142 73 -4 53 -7 416 -7 805 l0 708 -107 51
   c-345 162 -848 410 -866 425 -30 27 -57 93 -57 142 0 93 75 183 164 196 58 9
   92 -4 502 -199 193 -91 354 -166 357 -166 3 0 7 190 9 423 5 450 5 456 56 511
   99 106 264 78 333 -56 18 -36 19 -69 20 -740 0 -387 3 -711 7 -720 6 -14 36
   -3 207 79 332 157 545 253 590 265 36 10 50 9 88 -6 94 -36 137 -96 137 -192
   0 -70 -28 -123 -84 -161 -23 -15 -239 -122 -481 -238 l-440 -211 -3 -522 -2
   -522 42 5 c254 28 390 56 566 116 462 158 878 488 1134 901 78 125 162 307
   212 458 151 454 151 927 0 1380 -259 778 -952 1348 -1768 1455 -127 16 -404
   18 -545 4z"
            ></path>
            <path d="M15370 14150 l0 -6000 180 0 180 0 0 6000 0 6000 -180 0 -180 0 0
   -6000z"
            ></path>
            <path
              d="M27425 20144 c-184 -22 -297 -54 -436 -125 -316 -162 -505 -444 -591
   -884 -22 -110 -22 -116 -25 -1785 -4 -1843 -5 -1799 57 -2045 116 -463 403
   -751 845 -850 112 -25 396 -31 535 -11 429 63 745 330 884 746 80 240 96 392
   96 906 l0 394 -174 0 -174 0 -5 -432 c-4 -475 -10 -531 -69 -718 -77 -240
   -195 -397 -362 -482 -134 -68 -364 -101 -546 -79 -214 26 -325 75 -446 195
   -70 70 -88 96 -137 196 -61 123 -98 240 -124 385 -14 79 -16 275 -20 1600 -5
   1621 -1 1780 41 1965 71 308 202 507 399 607 126 63 197 76 412 77 170 1 199
   -1 270 -22 264 -76 408 -227 510 -535 59 -179 67 -253 72 -639 l5 -348 174 0
   174 0 0 310 c0 399 -20 581 -87 794 -137 436 -462 711 -913 771 -95 13 -288
   18 -365 9z"
            ></path>
            <path
              d="M17530 17290 l0 -2810 1070 0 1070 0 0 165 0 165 -885 0 -885 0 0
   2645 0 2645 -185 0 -185 0 0 -2810z"
            ></path>
            <path
              d="M20213 17838 l3 -2263 22 -110 c49 -251 107 -409 207 -562 136 -208
   339 -359 570 -424 173 -49 443 -63 635 -35 459 70 776 368 895 844 63 255 59
   81 62 2560 l3 2252 -170 0 -170 0 0 -2127 c0 -1279 -4 -2185 -10 -2271 -20
   -295 -83 -498 -205 -660 -153 -203 -424 -304 -736 -272 -196 19 -335 78 -457
   194 -113 107 -187 241 -232 416 -51 199 -50 137 -50 2508 l0 2212 -185 0 -185
   0 3 -2262z"
            ></path>
            <path
              d="M23250 17290 l0 -2810 165 0 165 0 1 2503 c0 2064 3 2497 14 2472 9
   -22 1621 -4610 1732 -4932 l15 -43 204 0 204 0 0 2810 0 2810 -165 0 -165 0 0
   -2367 c0 -1302 -4 -2363 -8 -2358 -5 6 -375 1041 -822 2300 -447 1260 -824
   2320 -838 2358 l-24 67 -239 0 -239 0 0 -2810z"
            ></path>
            <path
              d="M29400 17290 l0 -2810 180 0 180 0 0 1320 0 1320 880 0 880 0 0
   -1320 0 -1320 190 0 190 0 0 2810 0 2810 -190 0 -190 0 0 -1320 0 -1320 -880
   0 -880 0 0 1320 0 1320 -180 0 -180 0 0 -2810z"
            ></path>
            <path
              d="M6657 17833 c-17 -468 -208 -988 -509 -1387 -33 -44 -62 -85 -65 -92
   -2 -7 101 -65 254 -144 586 -301 843 -456 996 -600 l72 -68 -50 -52 c-270
   -280 -1127 -919 -2970 -2215 -1958 -1376 -2293 -1622 -2352 -1723 -27 -45 -28
   -52 -28 -182 0 -134 0 -136 39 -228 76 -184 178 -323 389 -531 588 -581 1847
   -1370 3708 -2325 l266 -136 3494 0 c2023 0 3510 4 3533 9 45 11 90 51 117 104
   19 36 20 61 17 725 l-3 687 -24 38 c-13 21 -40 49 -60 62 -20 13 -166 78 -326
   145 -1688 709 -2965 1345 -3498 1743 -192 144 -267 228 -267 300 0 48 32 143
   78 232 50 95 245 386 423 630 80 110 149 205 153 212 4 8 -18 25 -61 49 -294
   161 -481 301 -684 511 -364 378 -603 849 -694 1373 -22 132 -37 391 -30 540
   25 513 231 1054 555 1456 39 48 69 91 67 97 -10 32 -1483 580 -2306 858 -112
   38 -210 69 -216 69 -9 0 -14 -45 -18 -157z m1511 -5735 c138 -57 275 -166 321
   -255 65 -128 -31 -282 -176 -283 -63 0 -92 15 -168 89 -88 85 -111 101 -152
   101 -75 0 -387 -109 -665 -231 -330 -147 -626 -229 -772 -214 -161 15 -298 85
   -366 187 -38 58 -49 86 -68 173 l-8 40 -84 -1 c-130 -1 -338 -68 -682 -220
   -219 -97 -329 -136 -476 -173 -145 -36 -183 -42 -266 -43 -184 -1 -377 105
   -453 249 -85 158 -54 317 72 374 117 54 252 -24 279 -162 7 -32 65 -59 126
   -59 80 0 444 126 660 228 150 71 312 128 488 173 177 45 258 49 376 19 98 -25
   160 -59 228 -124 66 -63 104 -125 126 -208 l17 -63 74 -3 c59 -2 96 3 183 28
   143 41 360 123 523 198 175 80 325 134 475 170 69 17 134 33 145 36 52 13 181
   -1 243 -26z m2357 -2223 c130 -34 252 -108 342 -209 71 -80 98 -138 98 -208
   -1 -147 -157 -231 -288 -155 -26 15 -47 31 -47 35 0 17 -112 124 -143 137 -29
   12 -43 12 -98 0 -130 -27 -360 -112 -669 -248 -236 -103 -471 -174 -616 -184
   -260 -18 -486 135 -545 371 l-12 48 -101 -4 c-91 -4 -119 -11 -281 -66 -99
   -33 -268 -99 -375 -147 -303 -134 -539 -208 -711 -222 -201 -16 -425 99 -502
   257 -72 149 -53 285 50 351 53 33 129 39 186 15 47 -19 105 -90 114 -140 26
   -131 261 -89 772 139 264 117 413 167 631 210 185 37 381 -23 504 -155 51 -54
   101 -149 111 -210 6 -35 10 -39 46 -45 57 -10 127 2 271 46 156 48 310 108
   488 189 161 74 344 138 495 173 179 42 196 43 280 22z"
            ></path>
            <path
              d="M10885 17519 c-372 -56 -719 -201 -1010 -423 -104 -79 -291 -260
   -372 -361 -240 -296 -401 -661 -460 -1045 -26 -172 -24 -493 5 -660 57 -333
   164 -599 354 -882 299 -447 783 -772 1329 -892 64 -14 121 -26 126 -26 19 0
   24 286 17 950 l-7 667 -306 143 c-688 323 -719 339 -747 407 -22 50 -17 131 9
   178 31 55 94 97 154 102 56 6 64 3 578 -245 l290 -140 6 422 c4 293 10 430 18
   451 15 36 66 92 101 109 94 48 207 11 264 -87 l24 -42 4 -717 c2 -394 6 -720
   10 -723 4 -4 139 55 300 130 425 200 483 225 526 225 105 -1 202 -102 202
   -210 -1 -39 -34 -103 -71 -135 -32 -27 -311 -166 -751 -375 l-198 -94 0 -519
   0 -520 87 7 c601 49 1186 371 1543 851 499 670 579 1527 212 2275 -168 342
   -460 663 -800 877 -233 147 -532 255 -823 297 -118 18 -509 20 -614 5z"
            ></path>
            <path
              d="M3823 15198 c4 -348 11 -650 16 -672 10 -41 59 -99 103 -122 34 -18
   139 -18 181 0 18 7 47 30 65 50 64 74 62 45 62 742 l0 634 -217 0 -216 0 6
   -632z"
            ></path>
            <path
              d="M18605 13864 c-16 -2 -66 -9 -110 -15 -99 -13 -269 -68 -355 -116
   -278 -154 -458 -398 -544 -740 -63 -251 -60 -153 -64 -1903 -2 -1119 0 -1634
   8 -1725 22 -256 74 -455 166 -635 147 -288 392 -476 718 -553 127 -30 497 -32
   626 -3 331 72 586 265 734 556 90 177 145 383 166 630 5 63 10 280 10 483 l0
   367 -175 0 -175 0 0 -307 c-1 -605 -26 -777 -153 -1028 -67 -133 -175 -244
   -287 -298 -241 -116 -608 -114 -841 3 -30 16 -79 47 -107 70 -143 112 -262
   363 -304 640 -10 67 -13 428 -13 1725 0 1831 -4 1729 70 1952 102 307 251 463
   512 535 67 19 104 22 263 22 159 0 196 -3 265 -22 256 -70 416 -234 514 -528
   57 -170 71 -291 78 -661 l6 -333 175 0 174 0 -5 353 c-3 259 -9 380 -21 457
   -34 211 -87 381 -163 520 -154 284 -427 478 -752 536 -84 15 -356 27 -416 18z"
            ></path>
            <path
              d="M20560 11006 l0 -2816 185 0 185 0 0 1261 0 1261 418 -5 c427 -5 479
   -9 642 -52 143 -37 298 -129 384 -227 50 -57 114 -172 140 -253 48 -150 48
   -152 56 -890 9 -801 14 -858 92 -1027 l31 -68 188 0 c104 0 189 2 189 5 0 3
   -11 27 -24 54 -39 76 -65 164 -83 274 -12 82 -17 239 -23 782 -7 637 -9 686
   -29 779 -38 183 -105 345 -187 457 -55 75 -174 180 -260 229 -43 25 -134 63
   -201 86 l-121 40 76 23 c176 52 320 138 439 264 95 102 155 204 204 351 71
   208 74 242 74 776 0 410 -3 489 -18 575 -59 335 -196 591 -391 729 -122 87
   -266 145 -456 182 -74 15 -181 18 -797 21 l-713 4 0 -2815z m1457 2446 c294
   -77 451 -263 529 -622 22 -98 32 -888 14 -1043 -41 -350 -206 -577 -490 -670
   -162 -54 -230 -60 -702 -65 l-438 -4 0 1217 0 1216 503 -4 c476 -3 506 -4 584
   -25z"
            ></path>
            <path
              d="M23662 11008 l3 -2813 1108 -3 1107 -2 0 170 0 170 -925 0 -925 0 0
   1175 0 1175 770 0 770 0 0 170 0 170 -770 0 -770 0 0 1130 0 1130 925 0 925 0
   0 170 0 170 -1110 0 -1110 0 2 -2812z"
            ></path>
            <path
              d="M26490 11005 l0 -2815 1105 0 1105 0 0 170 0 170 -920 0 -920 0 0
   1175 0 1175 765 0 765 0 0 170 0 170 -765 0 -765 0 0 1130 0 1130 920 0 920 0
   0 170 0 170 -1105 0 -1105 0 0 -2815z"
            ></path>
            <path
              d="M29310 11005 l0 -2815 183 2 182 3 5 1022 5 1022 185 295 c102 162
   189 294 193 293 5 -1 350 -585 768 -1297 417 -712 767 -1305 777 -1318 17 -23
   19 -23 204 -20 l187 3 -855 1503 -856 1502 801 1306 c441 717 801 1307 801
   1310 0 2 -86 3 -192 2 l-192 -3 -910 -1478 -911 -1479 -3 1481 -2 1481 -185 0
   -185 0 0 -2815z"
            ></path>
            <path
              d="M10850 12358 l0 -851 26 -44 c38 -65 103 -103 176 -103 32 0 73 6 91
   14 39 17 91 70 108 111 10 23 14 221 17 878 l4 847 -211 0 -211 0 0 -852z"
            ></path>
            <path
              d="M9655 6320 c-44 -50 -206 -178 -320 -252 -203 -133 -379 -216 -665
   -313 -352 -120 -564 -246 -685 -407 -104 -138 -136 -244 -138 -458 -2 -127 1
   -154 21 -220 58 -186 199 -357 324 -395 71 -21 88 -8 128 96 37 95 36 129 -2
   147 -36 17 -119 111 -154 175 -25 45 -29 65 -32 153 -7 168 27 269 126 375 96
   104 189 156 427 239 279 97 491 189 644 279 29 18 56 30 58 27 3 -2 -69 -193
   -160 -423 -421 -1071 -518 -1348 -552 -1580 -20 -139 -19 -208 6 -289 58 -190
   195 -288 404 -288 142 0 248 39 381 140 66 50 194 188 238 256 20 31 36 28 36
   -6 0 -93 92 -305 165 -380 88 -91 182 -126 340 -126 84 0 113 5 182 29 116 40
   166 73 264 170 213 212 366 528 698 1443 175 483 327 881 365 956 56 111 116
   199 193 284 41 45 73 89 76 107 13 62 -47 193 -91 199 -40 6 -158 -66 -223
   -136 -77 -82 -118 -146 -190 -297 -86 -180 -302 -719 -397 -990 -113 -324
   -155 -438 -225 -615 -91 -232 -195 -445 -280 -571 -70 -104 -188 -222 -252
   -250 -122 -54 -233 0 -286 140 -101 271 10 681 490 1809 65 152 153 366 196
   474 67 168 77 201 68 221 -23 50 -180 95 -233 67 -43 -23 -197 -368 -482
   -1080 -216 -541 -262 -649 -358 -845 -208 -422 -417 -651 -622 -680 -120 -18
   -158 19 -158 152 0 138 37 271 225 808 159 454 192 540 323 840 183 422 299
   708 348 857 43 135 22 163 -136 175 -58 5 -67 3 -85 -17z"
            ></path>
            <path
              d="M13939 6182 c-180 -73 -284 -219 -459 -647 -173 -422 -261 -750 -305
   -1134 l-17 -145 -60 -90 c-74 -111 -199 -277 -252 -334 -53 -58 -184 -156
   -258 -193 -91 -46 -198 -71 -308 -71 -267 -2 -457 134 -506 361 -7 36 -14 83
   -14 105 l0 38 113 -7 c134 -8 363 8 500 36 416 84 637 315 637 669 0 163 -48
   287 -149 383 -108 104 -237 147 -434 147 -177 0 -285 -34 -439 -138 -221 -149
   -427 -499 -495 -839 -25 -128 -23 -349 6 -465 42 -175 108 -295 217 -397 68
   -64 189 -131 284 -157 79 -21 268 -29 374 -15 283 38 577 211 744 438 46 63
   62 70 62 30 0 -49 43 -195 79 -273 71 -150 171 -228 334 -259 156 -30 285 -11
   437 62 79 38 109 59 176 127 44 44 99 110 123 146 l43 65 131 1 c114 0 140 3
   192 24 153 60 253 154 406 382 73 109 99 166 99 222 0 94 -102 155 -180 109
   -17 -9 -63 -69 -107 -137 -91 -140 -191 -251 -262 -290 -47 -25 -151 -47 -151
   -32 0 4 16 53 36 109 47 136 99 341 114 453 18 135 9 324 -20 397 -49 127
   -157 192 -305 185 -67 -4 -90 -10 -143 -38 -190 -101 -313 -374 -329 -730 -11
   -250 62 -446 202 -541 19 -13 35 -29 35 -35 0 -6 -27 -41 -60 -77 -70 -76
   -134 -111 -237 -128 -161 -28 -258 34 -309 196 -21 67 -54 348 -54 458 l0 88
   53 67 c212 267 470 649 599 887 154 285 238 526 238 680 0 138 -43 234 -132
   292 -35 24 -53 28 -122 31 -60 1 -93 -3 -127 -16z m104 -332 c-3 -93 -67 -280
   -148 -437 -110 -212 -360 -622 -372 -610 -7 8 102 328 178 522 147 372 271
   594 326 583 15 -3 18 -13 16 -58z m-1529 -805 c89 -19 138 -52 175 -117 80
   -140 56 -308 -58 -411 -97 -87 -198 -126 -396 -152 -121 -17 -395 -18 -411 -3
   -8 9 24 132 56 216 17 44 58 121 92 172 134 204 259 287 463 309 6 0 41 -6 79
   -14z m1871 -296 c22 -42 18 -159 -10 -311 -46 -249 -118 -478 -150 -478 -19 0
   -52 41 -77 95 -19 42 -23 71 -26 180 -7 259 71 492 182 540 38 16 64 9 81 -26z"
            ></path>
            <path
              d="M17818 6138 c-10 -7 -46 -96 -82 -198 -35 -102 -102 -291 -149 -420
   -46 -129 -99 -280 -117 -335 -19 -55 -34 -101 -36 -103 -1 -2 -27 24 -59 57
   -100 105 -237 161 -396 161 -260 0 -522 -156 -686 -408 -72 -111 -198 -395
   -236 -532 -117 -422 -76 -732 121 -929 82 -82 190 -121 335 -121 172 0 309 45
   467 154 l78 54 36 -57 c44 -72 113 -136 174 -164 71 -31 192 -35 279 -9 166
   51 358 214 538 455 49 65 91 114 95 110 4 -4 13 -30 19 -57 45 -185 183 -356
   356 -441 119 -59 178 -70 365 -69 144 1 177 4 265 28 193 51 435 197 552 333
   162 188 320 439 535 848 119 226 241 445 249 445 12 0 32 -573 26 -770 -8
   -285 -36 -426 -106 -530 -36 -54 -77 -80 -124 -80 -51 0 -73 12 -133 76 -44
   47 -56 54 -89 54 -43 0 -148 -58 -166 -92 -24 -45 25 -141 111 -215 45 -39
   158 -96 235 -119 79 -24 236 -23 325 0 132 36 269 132 438 310 35 36 65 66 67
   66 1 0 5 -19 8 -41 8 -61 62 -162 108 -204 69 -62 140 -89 234 -89 210 0 383
   111 574 368 l95 126 21 -68 c45 -141 127 -259 223 -321 85 -55 155 -74 272
   -75 128 -1 232 22 336 75 l72 37 -13 -36 c-38 -109 -27 -100 -349 -295 -165
   -99 -331 -206 -370 -237 -216 -173 -327 -356 -327 -541 0 -63 5 -90 24 -132
   61 -133 167 -198 327 -198 95 0 165 22 253 81 182 121 276 265 468 710 46 107
   97 215 114 240 22 33 69 72 180 147 83 57 180 121 218 143 37 23 97 63 133 91
   36 27 67 49 69 49 2 0 -4 -22 -13 -49 -14 -45 -14 -52 1 -74 18 -28 57 -37
   164 -37 71 0 72 0 106 40 19 22 43 64 54 93 11 28 77 203 146 388 203 540 258
   663 377 843 86 130 150 200 239 261 89 60 162 85 253 85 130 -1 190 -47 204
   -156 10 -82 -14 -172 -130 -490 -219 -604 -242 -686 -234 -834 4 -59 12 -98
   26 -125 75 -147 277 -186 472 -92 139 67 447 426 637 742 96 159 103 212 39
   274 -48 46 -110 54 -152 18 -16 -14 -78 -97 -138 -184 -158 -232 -186 -269
   -330 -431 -169 -190 -264 -229 -259 -105 3 61 22 119 161 494 206 552 249 731
   207 875 -43 150 -164 260 -327 299 -82 19 -228 19 -303 0 -46 -12 -162 -62
   -236 -102 -3 -2 -4 9 -2 24 8 50 -12 80 -70 108 -76 35 -157 35 -186 -1 -26
   -33 -98 -217 -221 -563 -151 -427 -174 -478 -274 -626 -179 -262 -332 -431
   -483 -534 -51 -34 -93 -60 -93 -57 0 4 34 104 75 224 164 475 398 1204 426
   1329 23 100 -21 144 -146 146 -110 2 -112 0 -185 -196 l-10 -28 -43 53 c-107
   132 -238 188 -436 188 -105 0 -225 -27 -326 -74 -301 -139 -517 -433 -624
   -851 -11 -40 -44 -94 -200 -320 -149 -215 -285 -370 -355 -404 -64 -31 -101
   -28 -143 14 l-36 36 5 97 c4 87 12 117 73 297 82 242 227 617 346 897 106 249
   107 250 81 276 -28 28 -220 42 -254 19 -25 -16 -87 -150 -204 -442 -40 -99
   -92 -227 -116 -285 -25 -58 -52 -127 -61 -155 -27 -79 -308 -474 -452 -633
   -26 -29 -49 -51 -50 -50 -2 2 5 38 15 82 46 190 51 578 15 1101 -16 241 -24
   287 -57 346 -28 50 -58 64 -174 79 -147 19 -156 13 -264 -167 -66 -112 -150
   -263 -228 -413 -85 -165 -314 -569 -365 -645 -169 -251 -339 -404 -522 -467
   -305 -105 -595 -11 -707 228 -23 50 -31 84 -35 147 l-6 83 199 1 c426 0 706
   83 879 258 111 113 168 264 169 445 0 224 -89 377 -273 470 -87 43 -174 60
   -320 60 -110 0 -132 -3 -210 -29 -158 -53 -293 -145 -392 -268 -143 -178 -239
   -365 -298 -581 -11 -40 -33 -89 -49 -110 -15 -20 -62 -86 -102 -147 -256 -382
   -488 -615 -613 -615 -42 0 -80 39 -97 98 -22 80 -18 96 124 542 58 179 136
   431 174 560 39 129 104 330 145 445 41 116 122 343 180 505 114 320 139 412
   119 432 -19 19 -241 24 -264 6z m1412 -1099 c113 -29 190 -146 190 -289 0 -86
   -24 -143 -91 -214 -65 -70 -143 -116 -234 -140 -149 -38 -412 -57 -539 -40
   -53 8 -55 14 -31 108 59 228 235 467 400 546 97 46 201 56 305 29z m-2169 -55
   c168 -50 229 -287 151 -586 -72 -271 -206 -534 -333 -652 -121 -111 -220 -156
   -344 -156 -111 1 -189 59 -222 168 -14 44 -18 90 -18 202 1 165 15 248 75 431
   73 222 142 343 264 462 131 126 283 173 427 131z m6177 -40 c70 -36 122 -102
   151 -191 37 -111 24 -228 -51 -448 -72 -215 -149 -345 -274 -466 -125 -120
   -259 -191 -370 -197 -146 -8 -243 51 -279 170 -56 182 -14 501 95 724 107 221
   246 357 430 422 93 33 217 27 298 -14z m-501 -2194 c-61 -121 -166 -283 -230
   -355 -41 -47 -122 -95 -162 -95 -11 0 -31 7 -44 16 -20 14 -23 23 -18 59 11
   100 84 195 246 319 146 112 256 186 259 175 2 -5 -21 -59 -51 -119z"
            ></path>
            <path
              d="M21868 5840 c-111 -33 -175 -145 -148 -258 51 -215 353 -213 411 2
   40 148 -117 300 -263 256z"
            ></path>
          </g>
        </svg>
        <p class="text-base text-primary-950/70 dark:text-primary-200/70">
          Lunch Creek Web Designs will create premium and highly performant websites to help grow
          your business.
        </p>
        <p class="text-sm text-primary-950/70 dark:text-primary-200/70">
          © 2024 Lunch Creek Web Designs LLC
        </p>
      </div>

      <!-- Bottom links -->
      <div class="grid max-w-xl flex-1 grid-cols-1 gap-8 sm:grid-cols-3">
        {
          bottomLinks.map((group) => (
            <div class="flex flex-col gap-4">
              <p class="text-base font-medium">{group.header}</p>
              <ul role="list" class="flex flex-col gap-3">
                {group.links.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200"
                      target={link.isExternal ? '_blank' : undefined}
                      rel={link.isExternal ? 'noopener' : undefined}
                    >
                      {link.name}
                      {link.isExternal && (
                        <svg
                          class="h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                        </svg>
                      )}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
