<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">About Us</h1>
      <p class="mx-auto max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
        Hello there! I'm a work-at-home dad who finds immense joy in witnessing my kids' incredible
        journey of growth, right from the comfort of our home. My passion for technology has been a
        driving force in my life, and I've channeled that passion into empowering small businesses
        to have engaging websites that truly make a difference. As I balance the roles of a
        dedicated parent and a tech enthusiast, I've discovered that there's nothing quite as
        rewarding as helping businesses thrive in the digital world. Life's an incredible adventure,
        and I'm thrilled to be on this unique path, embracing the magic of family and the wonders of
        technology every step of the way.
      </p>
    </div>
  </div>
</section>
